<!-- app/views/players/index.html.erb -->
<%= form_with url: players_path, method: :get, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :team_id, "Team Name" %>
    <%= form.select :team_id, options_from_collection_for_select(@teams, :id, :name, params[:team_id]), { include_blank: 'All Teams' }, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :name, "Player Name" %>
    <%= form.text_field :name, value: params[:name], class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :min_age, "Age Range" %>
    <%= form.number_field :min_age, value: params[:min_age], class: 'form-control' %>
    <%= form.number_field :max_age, value: params[:max_age], class: 'form-control' %>
  </div>
  <div>
    <%= form.submit "Show Details", class: "btn btn-outline-primary" %>
  </div>
<% end %>
<h1>Index Page</h1>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Position</th>
      <th>Team Name</th>
      <th>Role</th>
      <th>Is Active</th>
      <th>Is Captain</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.id %></td>
        <td><%= player.name %></td>
        <td><%= player.age %></td>
        <td><%= player.position %></td>
        <td><%= player.team ? player.team.name : "No Team" %></td> 
        <td><%= player.role %></td>
        <td><%= player.is_active %></td>
        <td><%= player.is_captain %></td>
        <td><%= player.description %></td>
        <td><%= link_to 'Show', player_path(player),class:"btn btn-outline-primary" %></td>
        <td><%= link_to 'Edit', edit_player_path(player),class:"btn btn-outline-info" %></td>
        <td><%= link_to 'Destroy', player_path(player), data: { turbo_method: :delete },class:"btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
